html{
    background:url('00.jpg') no-repeat center center;
    min-height:100%;
    background-size:cover;
}

h1{
	background:rgb(255, 0, 170);
	color:rgb(248, 248, 248);
	font-family: KG Do You Love Me;
	font-size:60px;
	letter-spacing: 3px;
	word-spacing: 15px;
	border-radius:5px;
	margin-top: 1cm;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}

h2{
	color: #00c3ff;
	font-family: KG Do You Love Me;
	letter-spacing: 2px;
	text-align: center;
}
.años{
	color:#00789c;
	font-family: KG Do You Love Me;
	letter-spacing: 2px;
	font-size:.5cm;
	text-align: center;
}

.inicio{
	text-align: center;
	background: #FFFFFF;
	font-family: New Comic BD Shadow;
	font-size: 50px;
	letter-spacing: 5px;
	border-radius: 30px 10px;
	margin-top: 40px;
	margin-left: 80px;
	margin-right: 80px;
}

.ant{
	float: left;
	margin-left: 40px;
	width: 175px;
	height: 125px;
}

.contenido{
	text-align: justify;
	background: #FFFFFF;
	font-family: DK Pimpernel;
	font-size: 0.7cm;
	border-radius: 5px;
	margin-top: 1.5cm;
	margin-left: 6em;
    margin-right: 6em;
}

.contenido p{
    margin-bottom: 1em; /*=16px*/
}

.contenido li{
	margin-bottom: 1em; /*=16px*/
}

/*IMAGENES*/
#arq{
    margin-left: 10cm;
}
#entrada{
    width: 275px;
    height: 225px;
    margin-left: 10cm;
}
#salida{
    width: 275px;
    height: 225px;
    margin-left: 10cm;
}
#bio{
    width: 225px;
    height: 225px;
    margin-left: 10cm;
}

#pg{
	margin-left: 9.15cm;
}

#sg{
	margin-left: 9.15cm;
}

#tg{
	margin-left: 8cm;
	width: 11cm;
	height: 6.61cm;
}

#fam{
	margin-left: 11cm;
	width: 7cm;
	height: 8.47cm;
}

#bio{
	width: 8.5cm;
	height: 8.5cm;
	margin-top: .5cm;
	margin-left: 10.15cm;
}
#entrada{
	width: 8cm;
	height: 5.61cm;
	margin-top: .5 cm;
	margin-left: 10.15cm;
}

#inicio{
	width: 4cm;
	height: 6.5cm;
	margin-top: .9cm;
	margin-left: 16cm;
}
/*Menú*/
#button {
    padding: 0;
    margin-left: 40px;
    font-size:0.75cm;
}

#button ul{
    list-style-type:none;
    text-align:center;
}

#button li {
    display: inline;
    text-align:center;
}

#button li a {
    font-family: KG Do You Love Me;
    letter-spacing: 2px;
    text-decoration: none;
    float:left;
    padding: 10px;
    background-color: #b32bac;
    color: #fff;
}

#button li a:hover {
    background-color: #ff3392;
    margin-top:-3px;
    padding-bottom:12px;
    color:rgb(0, 0, 0);
}

/*arriba*/

.ir-arriba {
	display:none;
	padding:10px;
	background:#fa2098;
	font-size:35px;
	color:rgb(247, 244, 244);
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}